body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgb(246, 157, 172), rgb(120, 120, 234), rgb(235, 84, 235));
}

.container {
    width: 650px;
    height: 600px;
    background-color: white;
    border-radius: 40px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px #d9e8e7;
}


.label {
    font-size: x-large;
}

.header {
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.input {
    margin: 30px;
    padding: 20px;
    border-radius: 30px;
    width: 400px;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.formClass {
    padding-left: 10px;
}

.btn {
    padding: 8px;
    margin-left: 200px;
    margin-top:30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 3px 4px 3px #aaadac;
}

.btn:hover{
     background: linear-gradient(rgb(246, 157, 172), rgb(120, 120, 234), rgb(235, 84, 235));
     color: white;
}

.accountbtn{
    display: flex;
    justify-content: flex-end;
    padding-left: 390px;
    margin-top: 50px;
}

.accbtn{
   border-radius: 30px;
   background-color:white;
   color:black;
   padding: 10px;
}

.accbtn:hover{
    background-color: black;
    color: white;
}

button{
    padding: 20px;
    border-radius: 100px;
    color: white;
    background-color: black;
}